/* ตั้งค่าสีพื้นหลัง */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import 'remixicon/fonts/remixicon.css';
body {
    background-image: url();
    background-color: #111113;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Material, sans-serif;
    text-align: center;
    opacity: 0;
    /* เริ่มต้นด้วยความโปร่งใส 0 */
    animation: fadeIn 2s forwards;
    /* เอฟเฟกต์ fade-in */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* ซ่อนการเลื่อน */
}


/* ทำให้ไอคอนเป็นสีขาว */

.profile__social-link i {
    color: #ffffff;
    /* สีขาว */
    font-size: 24px;
    /* ขนาดไอคอน */
}


/* ลบเส้นใต้ของลิงก์ */

.profile__social-link {
    text-decoration: none;
    /* ลบเส้นใต้ */
}


/* เว้นระยะห่างรอบๆ ไอคอน */

.profile__social-link i {
    padding: 3px;
}


/* เปลี่ยนสีไอคอนเมื่อ hover */

.profile__social-link:hover i {
    color: #cccccc;
    /* สีเทาอ่อนเมื่อวางเมาส์ */
}

.container-skills {
    font-size: 20px;
}

.custom-paragraph {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: 10px 0;
}

.custom-mark {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
}

h1 {
    font-size: 3rem;
    background-color: white;
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
}

.containerzz {
    transition: all 0.3s ease;
    font-size: 12px;
    color: white;
    cursor: default;
}

.containerzz:hover {
    word-spacing: 4px;
    letter-spacing: 5px;
}


/* การทำให้มีเอฟเฟกต์เด้ง */

.containerzz {
    overflow: hidden;
    /* ซ่อนเนื้อหาที่อยู่นอกขอบเขต */
    animation: bounce 2s infinite;
    /* เรียกใช้งาน Animation */
}

.containerzz {
    font-size: 48px;
    /* ขนาดตัวอักษร */
    color: #ffffff;
    /* สีข้อความ */
}


/* Animation สำหรับ fade-in */

@keyframes fadeIn {
    to {
        opacity: 1;
        /* เพิ่มความโปร่งใส */
    }
}

.profile {
    position: relative;
    padding-top: 3.5rem;
}

.profile__container {
    row-gap: 2rem;
}

.profile__data {
    display: grid;
    text-align: center;
}

.profile_z {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile_z img {
    width: 150px;
}

.profile_main {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
}


/* กำหนดเอฟเฟกต์ไล่สี */

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}

.containerzz {
    width: 400px;
    overflow: hidden;
}

.containerzz .text {
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.containerzz .text.first-text {
    color: #fff;
}

.containerzz .text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111113;
    border-left: 2px solid white;
    animation: animate 4s steps(18) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

.tilted {
    width: 700px;
    transform: perspective(700px) rotateX(0deg) rotateY(100deg) rotateZ(0deg);
    /* add 3D perspective and tilt the image towards the top */
    animation: moveUpDown 5s ease-in-out infinite;
    /* animate the movement */
}

@keyframes moveUpDown {
    0% {
        transform: perspective(700px) rotateX(5deg) rotateY(-15deg) translateX(45px) translateY(5px);
    }
    /* start position */
    33% {
        transform: perspective(700px) rotateX(0deg) rotateY(-20deg) translateX(50px) translateY(50px);
    }
    /* move up */
    100% {
        transform: perspective(700px) rotateX(5deg) rotateY(-15deg) translateX(45px) translateY(5px);
    }
    /* back to start position */
}

.right {
    transform: perspective(10px) rotateX(0deg) rotateY(100deg) rotateZ(0deg);
    /* add 3D perspective and tilt the image towards the top */
    animation: moveUpDown1 5s ease-in-out infinite;
    /* animate the movement */
}

@keyframes moveUpDown1 {
    0% {
        transform: perspective(700px) rotateX(0deg) translateX(-50px) translateY(0px);
    }
    /* start position */
    33% {
        transform: perspective(700px) rotateX(1deg) translateX(-30px) translateY(10px);
    }
    /* move up */
    100% {
        transform: perspective(700px) rotateX(0deg) translateX(-50px) translateY(0px);
    }
    /* back to start position */
}